<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <nav class="navbar-brand" th:text="${email}+' with roles: '+${roles}"></nav>
    <a class="ml-auto text-white-50" href="/logout">Logout</a>
</nav>

<div id="sidebar">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" href="/admin" role="tab"
           aria-selected="true">Admin</a>
        <a class="nav-link" href="/user" role="tab"
           aria-selected="false">User</a>
    </div>
</div>

<div class="container pl-4 pr-4" id="main">
    <h1 class="mt-3">Admin panel</h1>

    <div id="myTabs">
        <ul class="nav nav-tabs mt-4" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="table-tab" data-toggle="tab" href="#table" role="tab"
                   aria-selected="true" aria-controls="table">Users Table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="newUser-tab" data-toggle="tab" href="#newUser" role="tab"
                   aria-selected="false" aria-controls="newUser">New User</a>
            </li>
        </ul>
    </div>


    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="table" role="tabpanel" aria-labelledby="table-tab">
            <h4 class="ml-3 mt-3">All users</h4>
            <div class="container bg-white p-3">
                <table class="table table-striped ">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody id="tableBody">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="newUser" role="tabpanel" aria-labelledby="newUser-tab">
            <form id="addForm" onsubmit="return false;">
                <h4 class="ml-3 mt-3">Add new user</h4>
                <div class="container bg-white p-3">
                    <div class="container col-4 text-center">
                        <div class="form-group row">
                            <label for="fn" class="font-weight-bold col-12 ">First name</label>
                            <input type="text" id="fn" name="firstName" class="form-control form-control-sm">
                        </div>
                        <div class="form-group row">
                            <label for="ln" class="font-weight-bold col-12 ">Last name</label>
                            <input type="text" id="ln" name="lastName" class="form-control form-control-sm">
                        </div>
                        <div class="form-group row">
                            <label for="age" class="font-weight-bold col-12 ">Age</label>
                            <input type="number" id="age" name="age" class="form-control form-control-sm">
                        </div>
                        <div class="form-group row">
                            <label for="email" class="font-weight-bold col-12 ">Email</label>
                            <input type="email" id="email" name="email" class="form-control form-control-sm">
                        </div>
                        <div class="form-group row">
                            <label for="password" class="font-weight-bold col-12 ">Password</label>
                            <input type="password" id="password" name="password" class="form-control form-control-sm">
                        </div>
                        <div class="form-group row">
                            <label for="role" class="font-weight-bold col-12">Role</label>
                            <select id="role" class="custom-select" name="role" type="text" size="2">
                                <option>ADMIN</option>
                                <option>USER</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success">Add new user</button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <form id="editForm">
                <div class="modal-body">
                    <div class="container col-6 text-center">
                        <div class="form-group">
                            <label for="idUpdate"
                                   class="font-weight-bold col-12 ">ID</label>
                            <input readonly id="idUpdate" name="id"
                                   class="form-control form-control-sm">
                            <div class="form-group">
                                <label for="fnUpdate" class="font-weight-bold col-12 ">First
                                    name</label>
                                <input type="text" id="fnUpdate" name="firstName"
                                       class="form-control form-control-sm">
                            </div>
                            <div class="form-group">
                                <label for="lnUpdate" class="font-weight-bold col-12 ">Last
                                    name</label>
                                <input type="text" id="lnUpdate" name="lastName"
                                       class="form-control form-control-sm">
                            </div>
                            <div class="form-group">
                                <label for="ageUpdate"
                                       class="font-weight-bold col-12 ">Age</label>
                                <input type="number" id="ageUpdate" name="age"
                                       class="form-control form-control-sm">
                            </div>
                            <div class="form-group">
                                <label for="emailUpdate" class="font-weight-bold col-12 ">Email</label>
                                <input type="email" id="emailUpdate" name="email"
                                       class="form-control form-control-sm">
                            </div>
                            <div class="form-group">
                                <label for="passwordUpdate"
                                       class="font-weight-bold col-12 ">Password</label>
                                <input type="password" id="passwordUpdate" name="password"
                                       class="form-control form-control-sm">
                            </div>
                            <div class="form-group">
                                <label for="roleUpdate"
                                       class="font-weight-bold col-12">Role</label>
                                <select id="roleUpdate" class="custom-select" size="2" name="role">
                                    <option>ADMIN</option>
                                    <option>USER</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">Close
                        </button>
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <form id="deleteForm" >
                <div class="modal-body">
                    <div class="container col-6 text-center">
                        <div class="form-group">
                            <label for="idDelete"
                                   class="font-weight-bold col-12 ">ID</label>
                            <input readonly id="idDelete" name="id"
                                   class="form-control form-control-sm">
                            <div class="form-group">
                                <label for="fnDelete" class="font-weight-bold col-12 ">First name</label>
                                <input readonly type="text" id="fnDelete"
                                       class="form-control form-control-sm">
                            </div>
                            <div class="form-group">
                                <label for="lnDelete" class="font-weight-bold col-12 ">Last
                                    name</label>
                                <input readonly type="text" id="lnDelete"
                                       class="form-control form-control-sm">
                            </div>
                            <div class="form-group">
                                <label for="ageDelete"
                                       class="font-weight-bold col-12 ">Age</label>
                                <input readonly type="number" id="ageDelete"
                                       class="form-control form-control-sm">
                            </div>
                            <div class="form-group">
                                <label for="emailDelete"
                                       class="font-weight-bold col-12 ">Email</label>
                                <input readonly type="email" id="emailDelete"
                                       class="form-control form-control-sm">
                            </div>
                            <div class="form-group">
                                <label for="passwordDelete"
                                       class="font-weight-bold col-12 ">Password</label>
                                <input readonly type="password" id="passwordDelete"
                                       class="form-control form-control-sm">
                            </div>
                            <div class="form-group">
                                <label for="roleDelete"
                                       class="font-weight-bold col-12">Role</label>
                                <select id="roleDelete" class="custom-select" readonly
                                        size="2">
                                    <option readonly>ADMIN</option>
                                    <option readonly>USER</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">
                            Close
                        </button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="../static/js/script.js"></script>


</body>
</html>